@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Passion+One:wght@400;700;900&display=swap');
$font-1:'Pangolin',
cursive;
$font-2:'Passion One',
sans-serif;
$white:#fff;
$black:#000;
$primary: lightblue;
$secondary: orange;
$text:gray;
$border:skyblue;